/* Paleta suave */
:root {
  --fcja-bg: #f6f8fb;
  --fcja-red: #b22222; /* vermelho vivo */
}

body {
  background: var(--fcja-bg);
}

/* Cabeçalho vermelho */
.navbar {
  background-color: var(--fcja-red) !important;
}

.navbar-brand {
  color: #fffcfc !important;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .5px;
}

.navbar-brand img {
  height: 35px;   /* menor que o atual */
  margin-right: 8px;
}

/* Botões customizados */
.btn-custom {
  background-color: #b22222; /* vermelho tomate escuro */
  color: #fffcfc;
  border: none;
  border-radius: 6px; /* bordas arredondadas */
  padding: 8px 18px;  /* espaçamento interno */
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #8b0000; /* vermelho mais escuro no hover */
  color: #fffcfc;
}

/* Cartões */
.card.info-card {
  border-left: 4px solid #8b0000;
}

.table > :not(caption) > * > * {
  vertical-align: middle;
}